@import "src/app/variables.scss";

.TimelineEventDatePicker {
  &__value {
    display: block;
  }

  &__switch {
    padding-left: $aleph-grid-size;
    display: inline-block;
  }

  &__start, &__end {
    width: 45%;
    display: inline-block;
  }

  &__end {
    padding-left: 5%;
  }

}
